@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #0F2027;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.game {
  margin: 0 1.5rem;
}

.start {
  cursor: pointer;
  margin: 15rem auto;
  height: 35px;
  width: 120px;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.2rem;
  background-color: rgb(255, 187, 0);

}

.btn-grad {
  display: block;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  background-size: 200% auto;
  color: #ffffff;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  background-image: linear-gradient(to right, #FF512F 0%, #F09819 51%, #FF512F 100%);
  transition: 0.5s;
}

.btn-grad:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.game-area {
  width: 300px;
  height: 100vh;
  position: relative;
  margin: auto;
  background: #222222;
}

.hide {
  display: none;
}

.car {
  position: absolute;
  /* left = .game-area width/2 (300px / 2) - .car width / 2 (50px / 2) */
  left: 125px;
  bottom: 10px;
  width: 50px;
  height: 100px;
  background: transparent url('./image/player.png') center / cover no-repeat;
}